body{
  font-family: "Montserrat";
}
body a{
  text-decoration:none;
  color:black;
}
h3{
  font-weight: bold;
}
.name{
  z-index: 1;
  font-weight: bold;
  font-size: 2rem;
}
.collapse{
  margin-left: 50rem;
}
.nav-item{
  z-index: 1;
  line-height: 2rem;
  font-weight: bold;

}


/* body */
.single-product{
  position: relative;
  left: -8rem;
}
.product-detail-img{
  width:100%;
}
.row-3{
  margin: 2rem auto auto 8rem;
  width: 100%;
}
.single-product .col-6 img{
   padding:0px;
}
.single-product .col-6{
  padding: 10px;
}
.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
input:focus{
  outline: none;
}
.single-product .fa-star{
  font-size: 1rem;
}
.small-img-row{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis:24%;
  cursor:pointer;
}
.originalPrice{
  font-size: 10px;
  text-decoration: line-through;
}
.Features{
  border: 1px solid black ;
}
/* product */

.products{
   padding-top: 10rem;
   padding-bottom: 10rem;
}
.products-title{
  color: black;
  padding-left: 32rem;
  padding-bottom: 4rem;
  font-weight: bolder;
}
.products{
  text-align: center;
  width: 80rem;
  display: flex;
}
.col-lg-4{
  background: white;
  width: 18rem;
  margin: 0 1rem;
}


/* footer */

footer {
  padding: 5rem;
}
.footer-det{
  color: black;
  font-weight: bold;
}
/* cursor */
#cursor{
  height: 50px;
  width: 50px;
  background-color:#e7c82f;
  position : absolute;
  border-radius: 50%;
  display: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
div:hover~#cursor{
  transform: scale(0.5);
}



/*buttons */
#product-btn{
  z-index: 2;
  margin: 3rem auto 3rem 33rem;
}
#product-btn a{
  color: white;
}
.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}

.glow-on-hover:active {
    color: white;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    left: 0;
    top: 0;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
